%ion-view(view-title="Climbing Gym Stats")
  %ion-content.padding(ng-controller="gradesChartCtrl")
    Stats
    %canvas#gradesDoughnut.chart.chart-doughnut(chart-data="data" chart-labels= "labels")
    %h3 {{sessions}}
