%ion-view(view-title="Climbing Gym Stats")
  %ion-content.padding
    .gradesDoughnut(ng-controller="gradesChartCtrl")
      %h2 Difficultés pratiquées
      %canvas#gradesDoughnut.chart.chart-doughnut(chart-data="gradesDoughnut.data" chart-labels= "gradesDoughnut.labels" chart-legend="true")
    .gradesDoughnut(ng-controller="progressionChartCtrl")
      %h2 Progression
      %canvas#evolutionLine.chart.chart-line(chart-data="progressionLine.data" chart-labels= "progressionLine.labels" chart-legend="true" chart-series="progressionLine.series")
