%ion-view(view-title="Climbing Gym Stats")
  %ion-content.padding
    Difficultés pratiquées
    .gradesDoughnut(ng-controller="gradesChartCtrl")
      %canvas#gradesDoughnut.chart.chart-doughnut(chart-data="gradesDoughnut.data" chart-labels= "gradesDoughnut.labels" chart-legend="true")
