%ion-view(view-title="Climbing Gym Stats" ng-controller="sessionsCtrl")
  %ion-content.padding.sessions
    %button.button.button-icon.icon.ion-plus-circled(ng-click="showNewSessionPopup()")
    %h3 {{test}}
    .list
      %a.item.item-icon-left(ng-repeat="session in sessions")
        %i.icon.ion-android-checkbox-blank
        {{session.title}}
        %span.item-note {{session.created_at}}
