%ion-view(view-title="Climbing Gym Stats")
  %ion-nav-buttons(side="right")
    %button.button.button-icon.button-clear.ion-android-settings(ng-click="openConfigPopup()")
  %ion-content.padding
    .gradesDoughnut(ng-controller="gradesChartCtrl")
      %p.padding Difficultés pratiquées
      %canvas#gradesDoughnut.chart.chart-doughnut.padding(chart-data="gradesDoughnut.data" chart-labels= "gradesDoughnut.labels" chart-legend="true")
    .gradesDoughnut(ng-controller="progressionChartCtrl")
      %p.padding Courbe de progression
      %canvas#evolutionLine.chart.chart-line.padding(chart-data="progressionLine.data" chart-labels= "progressionLine.labels" chart-series="progressionLine.series")
