<ion-view ng-controller='accountCtrl' view-title='Climbing Gym Stats'>
  <ion-content class='padding'>
    <img src='assets/img/app_icon.png'>
    <div class='list list-inset'>
      <label class='item item-input'>
        <input ng-model='email' placeholder='email' type='email'>
      </label>
      <label class='item item-input'>
        <input ng-model='password' placeholder='password' type='password'>
      </label>
      <label class='item item-input'>
        <input ng-model='climb_num' placeholder='climb num' type='text'>
      </label>
    </div>
    <button class='button button-full button-positive' ng-click='tryToLog()'>
      Log me
    </button>
    <button class='button button-clear button-positive'>
      Create account
    </button>
  </ion-content>
</ion-view>
