<ion-view ng-controller='accountCtrl' view-title='Climbing Gym Stats'>
  <ion-content class='padding'>
    <img src='assets/img/app_icon.png'>
    <div class='list list-inset'>
      <label class='item item-input'>
        <input ng-model='user.nickname' placeholder='pseudo' type='text'>
      </label>
      <label class='item item-input'>
        <input ng-model='user.email' placeholder='email' type='email'>
      </label>
      <label class='item item-input'>
        <input ng-model='user.climb_num' placeholder='climb num' type='text'>
      </label>
      <label class='item item-input'>
        <input ng-model='use.password' placeholder='password' type='password'>
      </label>
    </div>
    <button class='button button-full button-positive' ng-click='createAccount()'>
      Créer son compte
    </button>
  </ion-content>
</ion-view>
