<ion-view ng-controller='sessionDetailCtrl' title='Séance #'>
  <ion-nav-buttons side='right'>
    <button class='button button-icon button-clear ion-android-settings' ng-click='openConfigPopup()'></button>
  </ion-nav-buttons>
  <ion-header-bar class='bar-positive'>
    <h1 class='title'>Séance : {{session.title}}</h1>
  </ion-header-bar>
  <ion-content class='padding session'>
    <div class='session-summary padding'>
      <p class='routes-validate'>Voies réussie {{stats.validate_count}} sur {{stats.routes_count}}</p>
      <p class='best-grad'>Meilleure voie {{stats.best_route}}</p>
      <p class='average-grad'>Cotation moyenne {{stats.average_grad}}</p>
    </div>
    <div class='list padding'>
      <a class='item item-icon-left item-icon-right' ng-repeat='route in routes'>
        <i class='icon ion-android-checkbox-blank' ng-class='route.css_color'></i>
        {{route.grade.title + " " + route.climb_style}}
        <i class='icon route-validate' ng-class="{ 'ion-android-checkmark-circle': route.finished}"></i>
      </a>
    </div>
  </ion-content>
  <div class='bar bar-footer'>
    <button class='button button-icon icon ion-plus-circled pull-right fap-button' ng-click='showNewRoutePopup()'></button>
  </div>
</ion-view>
