<ion-view ng-controller='sessionDetailCtrl' title='Détail de séance'>
  <ion-nav-buttons side='right'>
    <button class='button button-icon button-clear ion-android-settings' ng-click='openConfigPopup()'></button>
  </ion-nav-buttons>
  <ion-content class='padding session'>
    <div class='session-summary padding' ng-if='stats.routes_count &gt; 0'>
      <div class='routes-validate'>
        <h4 class='title'>Voies réussie</h4>
        <h4 class='result'>{{stats.validate_count}} sur {{stats.routes_count}}</h4>
      </div>
      <div class='best-grad'>
        <h4 class='title'>Meilleure voie</h4>
        <h4 class='result'>{{stats.best_route}}</h4>
      </div>
      <div class='average-grad'>
        <h4 class='title'>Cotation moyenne</h4>
        <h4 class='result'>{{stats.average_grad}}</h4>
      </div>
    </div>
    <div class='list padding'>
      <a class='item item-icon-left item-icon-right' ng-repeat='route in routes'>
        <i class='icon ion-android-checkbox-blank' ng-class='route.css_color'></i>
        {{route.grade.title + " " + route.climb_style}}
        <i class='icon route-validate' ng-class="{ 'ion-android-checkmark-circle': route.finished}"></i>
      </a>
    </div>
  </ion-content>
  <div class='float-button'>
    <span class='height-fix'>
      <a class='content' ng-click='showNewRoutePopup()'>
        <i class='ion-android-add'></i>
      </a>
    </span>
  </div>
</ion-view>
