<ion-view ng-controller='accountCtrl' view-title='Climbing Gym Stats'>
  <ion-content class='padding'>
    <img src='assets/img/app_icon.png'>
    <div class='list list-inset'>
      <form ng-submit='login()'>
        <label class='item item-input'>
          <input ng-model='user.email' placeholder='email' type='email'>
        </label>
        <label class='item item-input'>
          <input ng-model='user.password' placeholder='password' type='password'>
        </label>
        <button class='button button-full button-positive' type='submit'>
          Log me
        </button>
      </form>
    </div>
    <button class='button button-clear button-positive' ui-sref='create-acc'>
      Create account
    </button>
  </ion-content>
</ion-view>
