<div class='list'>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Nom séance</span>
    <input ng-model='session.title' placeholder='Nom séance' type='text'>
  </label>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Salle d'escalade</span>
    <input ng-model='session.gym' placeholder="Salle d'escalade" type='text'>
  </label>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Notes</span>
    <input ng-model='session.note' type='text'>
  </label>
</div>
