.list
  %label.item.item-input.item-stacked-label
    %span.input-label Titre
    %input(type="text" placeholder="Séance #23" ng-model="session.title")
  %label.item.item-input.item-stacked-label
    %span.input-label Salle
    %input(type="text" placeholder="Salle d'escalade" ng-model="session.gym")
  %label.item.item-input.item-stacked-label
    %span.input-label Note
    %input(type="text" placeholder="note" ng-model="session.note")
