%ion-view(view-title="Climbing Gym Stats" ng-controller="accountCtrl")
  %ion-content.padding
    %img(src="assets/img/app_icon.png")
    .list.list-inset
      %label.item.item-input
        %input(ng-model="user.nickname" placeholder="pseudo" type="text")
      %label.item.item-input
        %input(ng-model="user.email" placeholder="email" type="email")
      %label.item.item-input
        %input(ng-model="user.climb_num" placeholder="climb num" type="text")
      %label.item.item-input
        %input(ng-model="use.password" placeholder="password" type="password")
    %button.button.button-full.button-positive(ng-click="createAccount()")
      Créer son compte
