%ion-view(title="Séance #" ng-controller="sessionDetailCtrl")
  %ion-nav-buttons(side="right")
    %button.button.button-icon.button-clear.ion-android-settings(ng-click="openConfigPopup()")
  %ion-header-bar.bar-positive
    %h1.title Séance : {{session.title}}
  %ion-content.padding.session
    .session-summary.padding
      %p.routes-validate Voies réussie {{stats.validate_count}} sur {{stats.routes_count}}
      %p.best-grad Meilleure voie {{stats.best_route}}
      %p.average-grad Cotation moyenne {{stats.average_grad}}

    .list.padding
      %a.item.item-icon-left.item-icon-right(ng-repeat="route in routes")
        %i.icon.ion-android-checkbox-blank(ng-class="route.css_color")
        {{route.grade.title + " " + route.climb_style}}
        %i.icon.route-validate(ng-class="{ 'ion-android-checkmark-circle': route.finished}")

  .bar.bar-footer
    %button.button.button-icon.icon.ion-plus-circled.pull-right.fap-button(ng-click="showNewRoutePopup()")
