%ion-view(title="Séance #" ng-controller="sessionDetailCtrl")
  %ion-nav-buttons(side="right")
    %button.button.button-icon.button-clear.ion-android-settings(ng-click="openConfigPopup()")
  %ion-header-bar.bar-positive
    %h1.title Séance : {{session.title}}
  %ion-content.padding.session
    .session-summary.padding
      %p.routes-validate Voies réussie {{session.routes_count}} sur {{session.validate_count}}
      %p.best-grad Meilleure voie {{session.best_route.grade_title}}
      %p.average-grad Cotation moyenne {{session.average_grad}}

    .list.padding
      %a.item.item-icon-left.item-icon-right(ng-repeat="route in routes")
        %i.icon.ion-android-checkbox-blank
        {{route.title + " " + route.climb_style}}
        %i.icon.route-validate(ng-class="{ 'ion-android-checkmark-circle': route.validate}")

  .bar.bar-footer
    %button.button.button-icon.icon.ion-plus-circled.pull-right.fap-button(ng-click="showNewRoutePopup()")
