%ion-view(title="Détail de séance" ng-controller="sessionDetailCtrl")
  %ion-nav-buttons(side="right")
    %button.button.button-icon.button-clear.ion-android-settings(ng-click="openConfigPopup()")
  %ion-content.padding.session
    .session-summary.padding(ng-if="stats.routes_count > 0")
      .routes-validate
        %h4.title Voies réussie
        %h4.result {{stats.validate_count}} sur {{stats.routes_count}}
      .best-grad
        %h4.title  Meilleure voie
        %h4.result {{stats.best_route}}
      .average-grad
        %h4.title  Cotation moyenne
        %h4.result {{stats.average_grad}}

    .list.padding
      %a.item.item-icon-left.item-icon-right(ng-repeat="route in routes")
        %i.icon.ion-android-checkbox-blank(ng-class="route.css_color")
        {{route.grade.title + " " + route.climb_style}}
        %i.icon.route-validate(ng-class="{ 'ion-android-checkmark-circle': route.finished}")

  .bar.bar-footer
    %button.button.button-icon.icon.ion-plus-circled.pull-right.fap-button(ng-click="showNewRoutePopup()")
