.list
  %ion-toggle(ng-model="route.flash" toggle-class="toggle-calm") Flash
  %ion-toggle(ng-model="route.finished" toggle-class="toggle-calm") Finished
  %label.item.item-input.item-stacked-label
    %span.input-label Notes
    %input(type="text" ng-model="route.note")
  %button.button.button-icon.icon.ion-image(ng-click="showPopover()")
