!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content = "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" name = "viewport")

    %meta(content="default-src * 'unsafe-inline' 'unsafe-eval';" http-equiv="Content-Security-Policy")
    %title ClimbingGymStats
    / compiled css output
    %link(href="css/ionic.app.css" rel="stylesheet")
    / ionic/angularjs js
    %script(src="lib/ionic/js/ionic.bundle.js")
    %script(src="lib/ionic/js/angular/angular-resource.js")
    %script(src="lib/ionic/js/angular/ng-cordova.min.js")
    / cordova script (this will be a 404 during development)
    %script(src="cordova.js")

    / Firebase
    %script(src="https://cdn.firebase.com/js/client/2.2.9/firebase.js")
    / AngularFire
    %script(src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js")

    / your app's js
    %script(src="js/app.js")
    %script(src="js/services.js")

    / controller js
    %script(src="js/controllers/accountCtrl.js")
    %script(src="js/controllers/tabsCtrl.js")
    %script(src="js/controllers/sessionsCtrl.js")
    %script(src="js/controllers/sessionCtrl.js")
    %script(src="js/controllers/eventsCtrl.js")

    / directive

    / librairies
    %script(src="js/libs/moment.js")
    %script(src="js/libs/momentjs_fr_locales.js")

  %body(ng-app="app")
    %ion-nav-bar.bar-positive
      %ion-nav-back-button
    %ion-nav-view
