.grad4 {
  color: $grad4;
}
.grad5a {
  color: $grad5a;
}
.grad5b {
  color: $grad5b;
}
.grad5c {
  color: $grad5c;
}
.grad6a {
  color: $grad6a;
}
.grad6b {
  color: $grad6b;
}
.grad6c {
  color: $grad6c;
}
.grad7a {
  color: $grad7a;
}
.grad7b {
  color: $grad7b;
}
.grad7c {
  color: $grad7c;
}
.grad8a {
  color: $grad8a;
}
.grad8b {
  color: $grad8b;
}
.grad8c {
  color: $grad8c;
}
.grad9a {
  color: $grad9a;
}
.grad9b {
  color: $grad9b;
}
.grad9c {
  color: $grad9c;
}
