<ion-view ng-controller='eventsCtrl' view-title='Climbing Gym Stats'>
  <ion-nav-buttons side='right'>
    <button class='button button-icon button-clear ion-android-settings' ng-click='openConfigPopup()'></button>
  </ion-nav-buttons>
  <ion-content class='padding'>
    <div class='list'>
      <a class='item item-thumbnail-left' ng-repeat='event in events'>
        <img ng-src='{{event.picture}}'>
        <h2>{{event.title}}</h2>
        <p>{{event.description}}</p>
        <p>{{event.date}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
