<ion-view ng-controller='sessionsCtrl' view-title='Climbing Gym Stats'>
  <ion-content class='padding sessions'>
    <button class='button button-icon icon ion-plus-circled' ng-click='showNewSessionPopup()'></button>
    <h3>{{test}}</h3>
    <div class='list'>
      <a class='item item-icon-left' ng-repeat='session in sessions' ui-sref='tab.session-detail({ session_id: session.$id})'>
        <i class='icon ion-android-checkbox-blank'></i>
        {{session.title}}
        <span class='item-note'>{{session.created_at}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
