%ion-tabs.tabs-color-active-positive
  / TABS
  %ion-tab(title ="Seance" ui-sref="tab.seances")
    %ion-nav-view(name="Seance")
  %ion-tab(title="Stats" ui-sref="tab.stats")
    %ion-nav-view(name="Stats")
  %ion-tab(title="Events" ui-sref="tab.events")
    %ion-nav-view(name="Events")
