%ion-tabs.tabs-icon-top.tabs-color-active-positive
  / TABS
  %ion-tab(title ="Seance" ui-sref="tab.seances" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong")
    %ion-nav-view(name="Seance")
  %ion-tab(title="Stats" ui-sref="tab.stats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes")
    %ion-nav-view(name="Stats")
  %ion-tab(title="Events" ui-sref="tab.events" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes")
    %ion-nav-view(name="Events")
