<div class='list'>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Nom voie</span>
    <input ng-model='route.title' placeholder='Nom séance' type='text'>
  </label>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Salle d'escalade</span>
    <input ng-model='route.gym' placeholder="Salle d'escalade" type='text'>
  </label>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Notes</span>
    <input ng-model='route.note' type='text'>
  </label>
</div>
