<div class='grades'>
  <h1>Test</h1>
</div>
<ion-toggle ng-model='route.flash' toggle-class='toggle-calm'>Flash</ion-toggle>
<ion-toggle ng-model='route.finished' toggle-class='toggle-calm'>Finished</ion-toggle>
<ion-toggle ng-model='route.toprope' toggle-class='toggle-calm'>En tête</ion-toggle>
<label class='item item-input item-stacked-label'>
  <span class='input-label'>Notes</span>
  <input ng-model='route.note' type='text'>
</label>
<button class='button button-icon icon ion-image' ng-click='showPopover()'></button>
