<div class='new-route-popup'>
  <div class='grades padding'>
    <h3>{{route.grade.title}}</h3>
    <button class='button icon ion-plus' ng-click='nextGrade()'></button>
    <button class='button icon ion-minus' ng-click='previousGrade()'></button>
  </div>
  <ion-toggle ng-model='route.flash' toggle-class='toggle-calm'>Flash</ion-toggle>
  <ion-toggle ng-model='route.finished' toggle-class='toggle-calm'>Finished</ion-toggle>
  <ion-toggle ng-model='route.toprope' toggle-class='toggle-calm'>En tête</ion-toggle>
  <label class='item item-input item-stacked-label'>
    <span class='input-label'>Notes</span>
    <input ng-model='route.note' type='text'>
  </label>
  <button class='button button-icon icon ion-image' ng-click='showPopover()'></button>
</div>
